## Clean up data
#### Master data: NutrientValuees

In [1]:
import pandas as pd
import numpy

In [10]:
path = "../data/raw_data/NutrientValues.xlsx"
path

'../data/raw_data/NutrientValues.xlsx'

In [11]:
df = pd.read_excel(path)
df.head()

,Food code,Main food description,WWEIA Category code,WWEIA Category description,Energy (kcal),Protein (g),Carbohydrate (g),"Sugars, total (g)","Fiber, total dietary (g)",Total Fat (g),...,Iron (mg),Zinc (mg),Copper (mg),Selenium (mcg),Potassium (mg),Sodium (mg),Caffeine (mg),Theobromine (mg),Alcohol (g),Water (g)
0,11000000,"Milk, human",9602,Human milk,70,1.03,6.89,6.89,0.0,4.38,...,0.03,0.17,0.052,1.8,51,17,0,0,0.0,87.50
1,11100000,"Milk, NFS",1004,"Milk, reduced fat",51,3.27,4.85,5.08,0.0,2.04,...,0.03,0.42,0.014,3.1,141,45,0,0,0.0,89.13
2,11111000,"Milk, whole",1002,"Milk, whole",61,3.15,4.80,5.05,0.0,3.25,...,0.03,0.37,0.025,3.7,132,43,0,0,0.0,88.13
3,11111100,"Milk, low sodium, whole",1002,"Milk, whole",61,3.10,4.46,4.46,0.0,3.46,...,0.05,0.38,0.010,2.0,253,3,0,0,0.0,88.20
4,11111150,"Milk, calcium fortified, whole",1002,"Milk, whole",61,3.15,4.80,5.05,0.0,3.25,...,0.03,0.37,0.025,3.7,132,43,0,0,0.0,88.13

#### Data count

In [12]:
df.count()

Food code                                 8690
Main food description                     8690
WWEIA Category code                       8690
WWEIA Category description                8690
Energy (kcal)                             8690
Protein (g)                               8690
Carbohydrate (g)                          8690
Sugars, total (g)                         8690
Fiber, total dietary (g)                  8690
Total Fat (g)                             8690
Fatty acids, total saturated (g)          8690
Fatty acids, total monounsaturated (g)    8690
Fatty acids, total polyunsaturated (g)    8690
Cholesterol (mg)                          8690
Retinol (mcg)                             8690
Vitamin A, RAE (mcg_RAE)                  8690
Carotene, alpha (mcg)                     8690
Carotene, beta (mcg)                      8690
Cryptoxanthin, beta (mcg)                 8690
Lycopene (mcg)                            8690
Lutein + zeaxanthin (mcg)                 8690
Thiamin (mg)                              8690
Riboflavin (mg)                           8690
Niacin (mg)                               8690
Vitamin B-6 (mg)                          8690
Folic acid (mcg)                          8690
Folate, food (mcg)                        8690
Folate, DFE (mcg_DFE)                     8690
Folate, total (mcg)                       8690
Choline, total (mg)                       8690
Vitamin B-12 (mcg)                        8690
Vitamin B-12, added (mcg)                 8690
Vitamin C (mg)                            8690
Vitamin D (D2 + D3) (mcg)                 8690
Vitamin E (alpha-tocopherol) (mg)         8690
Vitamin E, added (mg)                     8690
Vitamin K (phylloquinone) (mcg)           8690
Calcium (mg)                              8690
Phosphorus (mg)                           8690
Magnesium (mg)                            8690
Iron (mg)                                 8690
Zinc (mg)                                 8690
Copper (mg)                               8690
Selenium (mcg)                            8690
Potassium (mg)                            8690
Sodium (mg)                               8690
Caffeine (mg)                             8690
Theobromine (mg)                          8690
Alcohol (g)                               8690
Water (g)                                 8690
dtype: int64

In [13]:
def format_columns(df):
    df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '').str.replace(',', '').str.replace('-', '').str.replace('+', '')
    return df

format_columns(df)
df.head()

,food_code,main_food_description,wweia_category_code,wweia_category_description,energy_kcal,protein_g,carbohydrate_g,sugars_total_g,fiber_total_dietary_g,total_fat_g,...,iron_mg,zinc_mg,copper_mg,selenium_mcg,potassium_mg,sodium_mg,caffeine_mg,theobromine_mg,alcohol_g,water_g
0,11000000,"Milk, human",9602,Human milk,70,1.03,6.89,6.89,0.0,4.38,...,0.03,0.17,0.052,1.8,51,17,0,0,0.0,87.50
1,11100000,"Milk, NFS",1004,"Milk, reduced fat",51,3.27,4.85,5.08,0.0,2.04,...,0.03,0.42,0.014,3.1,141,45,0,0,0.0,89.13
2,11111000,"Milk, whole",1002,"Milk, whole",61,3.15,4.80,5.05,0.0,3.25,...,0.03,0.37,0.025,3.7,132,43,0,0,0.0,88.13
3,11111100,"Milk, low sodium, whole",1002,"Milk, whole",61,3.10,4.46,4.46,0.0,3.46,...,0.05,0.38,0.010,2.0,253,3,0,0,0.0,88.20
4,11111150,"Milk, calcium fortified, whole",1002,"Milk, whole",61,3.15,4.80,5.05,0.0,3.25,...,0.03,0.37,0.025,3.7,132,43,0,0,0.0,88.13

#### Drop any columns and rows that are NaN

In [14]:
df = df.dropna()
df.count()

food_code                              8690
main_food_description                  8690
wweia_category_code                    8690
wweia_category_description             8690
energy_kcal                            8690
protein_g                              8690
carbohydrate_g                         8690
sugars_total_g                         8690
fiber_total_dietary_g                  8690
total_fat_g                            8690
fatty_acids_total_saturated_g          8690
fatty_acids_total_monounsaturated_g    8690
fatty_acids_total_polyunsaturated_g    8690
cholesterol_mg                         8690
retinol_mcg                            8690
vitamin_a_rae_mcg_rae                  8690
carotene_alpha_mcg                     8690
carotene_beta_mcg                      8690
cryptoxanthin_beta_mcg                 8690
lycopene_mcg                           8690
lutein__zeaxanthin_mcg                 8690
thiamin_mg                             8690
riboflavin_mg                          8690
niacin_mg                              8690
vitamin_b6_mg                          8690
folic_acid_mcg                         8690
folate_food_mcg                        8690
folate_dfe_mcg_dfe                     8690
folate_total_mcg                       8690
choline_total_mg                       8690
vitamin_b12_mcg                        8690
vitamin_b12_added_mcg                  8690
vitamin_c_mg                           8690
vitamin_d_d2__d3_mcg                   8690
vitamin_e_alphatocopherol_mg           8690
vitamin_e_added_mg                     8690
vitamin_k_phylloquinone_mcg            8690
calcium_mg                             8690
phosphorus_mg                          8690
magnesium_mg                           8690
iron_mg                                8690
zinc_mg                                8690
copper_mg                              8690
selenium_mcg                           8690
potassium_mg                           8690
sodium_mg                              8690
caffeine_mg                            8690
theobromine_mg                         8690
alcohol_g                              8690
water_g                                8690
dtype: int64

In [40]:
df.to_csv('.data/formatted_data/NutrientValues.csv', index = False)

#### Measurment data: PortionsAndWeights

In [49]:
path_2 = '.data/raw_data/PortionsAndWeights.xlsx'

In [50]:
df2 = pd.read_excel(path_2)
df2.head()
df2.count()

ID Num                        39718
Food code                     39718
Main food description         39718
Subcode                         848
Subcode description             848
WWEIA Category code           39718
WWEIA Category description    39718
Seq num                       39718
Portion description           39718
Portion weight (g)            39718
dtype: int64

In [51]:
df2 = df2.drop(columns=['Subcode', 'Subcode description'])
df2.count()

ID Num                        39718
Food code                     39718
Main food description         39718
WWEIA Category code           39718
WWEIA Category description    39718
Seq num                       39718
Portion description           39718
Portion weight (g)            39718
dtype: int64

In [52]:
format_columns(df2)
df2.head()

,id_num,food_code,main_food_description,wweia_category_code,wweia_category_description,seq_num,portion_description,portion_weight_g
0,1,11000000,"Milk, human",9602,Human milk,1,1 cup,246.0
1,2,11000000,"Milk, human",9602,Human milk,2,Quantity not specified,0.0
2,3,11000000,"Milk, human",9602,Human milk,3,1 fl oz,30.8
3,4,11100000,"Milk, NFS",1004,"Milk, reduced fat",1,1 cup,244.0
4,5,11100000,"Milk, NFS",1004,"Milk, reduced fat",2,1 fl oz,30.5

#### Drop any columns and rows that are NaN

In [53]:
df2 = df2
df2.head()

,id_num,food_code,main_food_description,wweia_category_code,wweia_category_description,seq_num,portion_description,portion_weight_g
0,1,11000000,"Milk, human",9602,Human milk,1,1 cup,246.0
1,2,11000000,"Milk, human",9602,Human milk,2,Quantity not specified,0.0
2,3,11000000,"Milk, human",9602,Human milk,3,1 fl oz,30.8
3,4,11100000,"Milk, NFS",1004,"Milk, reduced fat",1,1 cup,244.0
4,5,11100000,"Milk, NFS",1004,"Milk, reduced fat",2,1 fl oz,30.5

In [54]:
df2.count()

id_num                        39718
food_code                     39718
main_food_description         39718
wweia_category_code           39718
wweia_category_description    39718
seq_num                       39718
portion_description           39718
portion_weight_g              39718
dtype: int64

In [55]:
df2.to_csv('data/formatted_data/PortionsAndWeights.csv', index = False)